.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 100vw;
  border-right: 0;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
  height: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
}

cart-drawer.is-empty .drawer__header {
  /* display: none; */
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  background-color: rgb(var(--color-background));
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.3rem 1rem 0;

}

.drawer__heading {
  margin: 0 0 1rem;
  width: 200px;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  width: 5rem;
  height: 5rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.drawer__close svg {
  height: 100%;
  width: 100%;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 1.5rem 0;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}
cart-drawer-items {
  padding-top: 2rem;
}
cart-drawer-items, cart-drawer-items .cart-items-thead {
  display: flex;
  border-bottom: 1px solid black;
}
cart-drawer-items .cart-items-thead * {
  text-transform: uppercase;
}

cart-drawer-items .cart-items-thead :nth-child(1) {
  flex: 2;
  padding-left: 1rem;
}
cart-drawer-items .cart-items-thead :nth-child(4)  {
  flex: 1;
}
cart-drawer-items .cart-items-thead :nth-child(5)  {
  flex: 1;
  padding-right: 1rem;
  text-align: right;
}

.dk-only-label {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items, .cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}
cart-drawer-items.is-empty {
  display: none;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  border-bottom: 1px solid black;
  display: grid;
  grid-auto-columns: max-content;
  grid-template-areas:
    "option option qty total"
    "title title qty ."
    "img remove qty .";
}

.cart-drawer .cart-item__media {
  grid-area: img;
  border: 1px solid black;
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 10rem;

}
.cart-drawer .cart-item__details {
  grid-area: title;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  padding-left: 1rem;

}
.cart-drawer .cart-item__details a {
  color: black;
}
.cart-drawer .cart-item__dk-link {
  display: none;
}
.cart-drawer .cart-item__option {
  grid-area: option;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  padding-left: 1rem;
  margin-bottom: 0;

}
.cart-drawer .cart-item__totals {
  grid-area: total;
  margin-top: 1rem;

}
.cart-drawer .cart-item__totals .price {
  padding-right: 1rem;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.2px;
}
.cart-drawer .cart-item__quantity-wrapper {
  grid-area: qty;
  border-left: 1px solid black;
}
.cart-drawer .cart-item__quantity-wrapper quantity-input {
  align-self: start;
  margin-top: 1rem;
}
.cart-drawer .cart-item__quantity-wrapper quantity-input input{
  border: 1px solid black;
}
.cart-drawer .cart-item__remove {
  grid-area: remove;
  align-self: end;
  justify-self: start;
  margin-bottom: 2rem;

}
.cart-drawer .cart-item__remove button {
  border: none;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.cart-drawer .cart-item__remove button svg {
  width: 14.5px;
  height: 14.5px;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  display: block;
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer__empty-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cart-drawer__empty-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-drawer__empty-content footer {
  padding: 1rem;
}
.cart__empty-text {
  text-align: center;
  font-family: "Marfa-Thin";
  text-transform: uppercase;
  font-size: 52px;
  letter-spacing: -0.52px;
  line-height: 50px;
}
.fake-cart-items-thead {
    display: none;
}

.cart__empty-cta-1, .cart__empty-cta-2 {
  font-family: "Marfa-Thin";
  text-transform: uppercase;
  color: black;
}
@media screen and (max-width: 749px) {
  .cart-drawer .drawer__inner-empty table.cart-items {
    display: none;
  }
  .cart-drawer .drawer__inner-empty img {
    display: none;
  }
  .cart__empty-cta-2, .cart__empty-total {
    display: none;
  }
  .button--cart-footer {
    width: 100%;
  }
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer {
  margin: 0 1rem 3rem;
}
.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
}

.cart-drawer .totals h2 {
  padding: 0;
  margin: 0;
}
.cart-drawer .totals p {
  padding: 0;
  margin: 0;
}
.cart-drawer .totals .totals__subtotal-value {
  font-size: 20px;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

/* desktop */
@media screen and (min-width: 750px) {
  .drawer__header {
    border-bottom: none;
    margin-bottom: auto;
    padding: 1.7rem 2rem 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .mobile-only-label {
    display: none;
  }
  .drawer__heading {
    width: 80%;
  }

  .dk-only-label {
    display: block;
  }

  .fake-cart-items-thead {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 6rem;
  }
  .cart-items-thead {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  cart-drawer-items .cart-items-thead :nth-child(1) {
    flex: 0;
    flex-basis: 24rem;
    padding-left: 4rem;
  }
  cart-drawer-items .cart-items-thead :nth-child(2) {
    flex: 0;
    flex-basis: calc(50% - 24rem);
  }
  cart-drawer-items .cart-items-thead :nth-child(3)  {
    flex: 1;
  }
  cart-drawer-items .cart-items-thead :nth-child(5)  {
    flex: 1;
    padding-right: 5rem;
    text-align: right;
  }
  .drawer__inner-empty {
    height: unset;
  }
  .drawer__footer {
    display: flex;
    flex-direction: column;
  }
  .cart-drawer__footer {
    margin: 0 1rem 1rem;
  }
  .cart-drawer .totals {
    padding-left: 22rem;
    padding-right: 3rem;
  }
  .cart-drawer .totals h2 {
    font-size: 14px;
  }
  .cart-drawer .totals p {
    font-size: 14px;
  }
  .cart-drawer .totals .totals__subtotal-value {
    font-size: 32px;
    font-family: 'Marfa-Thin';
  }
  .cart-drawer__empty-main {
    flex-direction: row;
    flex: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-height: 500px;
  }

  .cart-drawer__empty-content {
    flex: 0;
  }
  .cart-drawer__empty-main div {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .cart-drawer__empty-main div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .cart-drawer__empty-content footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-drawer .cart-item {
    display: grid;
    grid-auto-columns: unset;
    grid-auto-rows: 1fr;
    grid-template-columns: 4rem 18rem 1fr calc(50% - 18rem) 18rem;
    grid-template-areas:
      "remove img title qty total"
      "remove img option . .";
  }
  
  .cart-drawer .cart-item__media {
    border: none;
    margin-left: 0;
    margin-bottom: 0;
    width: fit-content;
    border-right: 1px solid black;
  }
  .cart-drawer .cart-item__media img {
    margin: 3rem 1.7rem;
    width: 15rem;
  }

  .cart-drawer .cart-item__details {
    align-self: end;
  }

  .cart-drawer .cart-item__details a {

  }

  .cart-drawer .cart-item__option {
    display: none;
  }
  .cart-drawer .cart-item__dk-link {
    display: block;
    grid-area: option;
    margin-left: 1rem;
    margin-top: 1rem;
    color: black;
    font-weight: bold;
  }
  .cart-drawer .cart-item__dk-link a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }

  .cart-drawer .cart-item__totals {
    align-self: end;
    justify-self: end;
  }

  .cart-drawer .cart-item__totals .price {
    font-family: 'Marfa-Thin';
    font-size: 3.2rem;
    line-height: 50px;
    letter-spacing: -0.32px;
    padding-right: 4rem;
  }

  .cart-drawer .cart-item__quantity-wrapper {
    border-left: none;
    align-self: end;
    transform: translateX(-2rem);
  }

  .cart-drawer .cart-item__quantity-wrapper quantity-input {

  }

  .cart-drawer .cart-item__quantity-wrapper quantity-input input {

  }

  .cart-drawer .cart-item__remove {
    height: 100%;
    margin-bottom: 0;
    width: 4rem;
    border-right: 1px solid black;
  }

  .cart-drawer .cart-item__remove button {

  }

  .cart-drawer .cart-item__remove button svg {

  }
  

  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
	  flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}
